## Calculating the risk of a security

In [2]:
import numpy as np
import pandas as pd 
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [3]:
#from excel 

data = pd.read_csv('C:/Users/mdx/Documents/Python/Python for Finance Investment Fundamentals & Data Analytics_Udemy/PG_BEI.DE_2007_2017.csv',
index_col = 'Date')

data.tail()

                   PG     BEI.DE
Date
2017-03-17  89.605492  87.559509
2017-03-20  89.822121  87.440437
2017-03-21  89.792580  87.202278
2017-03-22  89.595642  86.983986
2017-03-23  89.379013  87.470207

In [6]:
sec_returns = np.log(data / data.shift(1))
sec_returns.head()

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002203  0.000202
2007-01-09 -0.002517 -0.022858

In [8]:
sec_returns['PG'].mean()

0.17648518671075153

In [10]:
sec_returns['PG'].std()

0.011161903265721099

In [19]:
sec_returns['BEI.DE'].mean()

0.00026921457170927014

In [21]:
sec_returns['BEI.DE'].std()

0.014258683507114199

In [47]:
#Final annual Results:

print (sec_returns['PG'].mean() * 250)
print (sec_returns['PG'].std() * 250 ** 0.5)
print (sec_returns['BEI.DE'].mean() * 250)
print (sec_returns['BEI.DE'].std() * 250 ** 0.5)

0.06276224261354679
0.17648518671075153
0.06730364292731754
0.22544958158979275

In [40]:
sec_returns[['PG', 'BEI.DE']].mean() * 250

PG        0.062762
BEI.DE    0.067304
dtype: float64

In [41]:
sec_returns[['PG', 'BEI.DE']].std() * 250 ** 0.5

PG        0.176485
BEI.DE    0.225450
dtype: float64

In [3]:
#from Yahoo data_source

tickers = ['PG', 'BEI.DE']
sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source = 'yahoo', start = '2007-1-1')['Adj Close']

sec_data.tail()

                    PG     BEI.DE
Date
2020-05-14  113.809998  91.300003
2020-05-15  114.610001  92.480003
2020-05-18  116.209999  95.599998
2020-05-19  112.440002  93.220001
2020-05-20  113.279999  93.699997

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

#Final annual Results:

print (sec_returns['PG'].mean() * 250)
print (sec_returns['PG'].std() * 250 ** 0.5)
print (sec_returns['BEI.DE'].mean() * 250)
print (sec_returns['BEI.DE'].std() * 250 ** 0.5)
print (sec_returns[['PG', 'BEI.DE']].mean() * 250)
print (sec_returns[['PG', 'BEI.DE']].std() * 250 ** 0.5)

0.0716477586117702
0.18917164564493352
0.06104801656255541
0.21806551802625923
PG        0.071648
BEI.DE    0.061048
dtype: float64
PG        0.189172
BEI.DE    0.218066
dtype: float64

## Covariance and Correlation

\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

In [6]:
sec_returns['PG'].var()

0.0001431436460640492

In [7]:
sec_returns['BEI.DE'].var()

0.0001902102806082432

In [8]:
PG_var_a = sec_returns['PG'].var() * 250
PG_var_a

0.0357859115160123

In [9]:
BEI_var_a = sec_returns['BEI.DE'].var() * 250
BEI_var_a

0.0475525701520608

In [10]:
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000143  0.000045
BEI.DE  0.000045  0.000190

In [11]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

              PG    BEI.DE
PG      0.035786  0.011332
BEI.DE  0.011332  0.047553

In [12]:
corr_matrix = sec_returns.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.274325
BEI.DE  0.274325  1.000000

## Calculating Portfolio Risk

In [17]:
weights = np.array([0.5, 0.5])

#portfolio variance:
portfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights) ) 
portfolio_var

0.02650066426744286

In [20]:
#portfolio volatility:
portfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5
portfolio_vol

0.16279024622944355

In [21]:
print(str(round(portfolio_vol, 5) * 100) + '%')

16.279%

## Calculating Diversifiable and Non-Diversifiable Risk of a Portfolio

In [24]:
weights[0]

0.5

In [25]:
weights[1]

0.5

In [27]:
#Diversifiable Risk:

dr = portfolio_var - (weights[0] ** 2 * PG_var_a) - (weights[1] ** 2 * BEI_var_a)
dr

0.0056660438504245875

In [28]:
print (str(round(dr*100, 3)) + ' %')

0.567 %

In [30]:
#Non-Diversifiable Risk:

n_dr_1 = portfolio_var - dr
n_dr_1

0.020834620417018272

In [31]:
n_dr_2 = (weights[0] ** 2 * PG_var_a) + (weights[1] ** 2 * BEI_var_a)
n_dr_2

0.020834620417018272

In [32]:
n_dr_1 == n_dr_2

True